vendor/
.idea/
recommendation-rendering-service.iml
./bash.sh
log.txt
.DS_Store
nohup.out
/log/
/app/log/
production.json
staging.json
glide.lock
.mongodb-data/
.mysql-data/
.redis-data/
.zk-single-kafka-single/
bin/
docker-elk/
api-metrics-log/
runLocal.sh
app/dev_local.json
temp.go
awsTemp.go
